.container{
  font-size: x-large;
  padding-left: 30%;
  padding-top: 10%;
  
}

.title2{
  margin-left: 5%;
}

.btn{
  margin-left: 15%;
  
}

.btn1{
  width: 30px;
}
.btn2{
  width: 30px;
}

.input{
  width: 40px;
  text-align: center;
 
}